<div class="modal {{ modal_instance }}-modal">
  <div class="modal-inner {{ modal_instance }}-modal-inner">
    <div class="modal-content {{ modal_instance }}-modal-content" data-modal-content></div>
  </div>
</div>