<div class="page-content">
  <h1 id="jc-page-title-about" class="page-title jc-page-title-about">{{ page.title }}</h1>

  {% comment %}
  {% section 'page-about' %}
  {% endcomment %}	
  
  <div class="rte jc-about-rte">
    {{ page.content }}
  </div>
</div>
